<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.store.mapper.ResourceMapper">
    <select id="listResource" resultType="com.example.store.entity.Resource">
        select * from resource
        <where>
            <if test="name != null &amp; name != ''">
                and resource.name =#{name}
            </if>
        </where>
    </select>
</mapper>